body {
	background: #000 url('https://rvrvrv.github.io/img/static.jpg');
	color: #fff;
	font-family: 'Droid Sans', sans-serif;
}

button {
	outline: none !important;
	-webkit-transition: -webkit-box-shadow .5s;
	transition: box-shadow .5s;
}

button:disabled {
	cursor: default !important;
	opacity: 1 !important;
	-webkit-box-shadow: 0 3px 2px #fff !important;
	box-shadow: 0 3px 2px #fff !important;
	color: #fff !important;
}

.title {
	font-family: 'Exo 2', sans-serif;
	margin: -5px 0 15px 0;
	border-bottom: 7px solid black;
}

.main {
	margin: 10px auto;
	max-width: 600px;
	border: 3px solid rgba(255, 255, 255, .2);
	border-radius: 8px;
	color: #fff;
}


/* Hidden upon load, for smooth entrance */
.streamers {
	display: none;
}

.streamers a {
	text-decoration: none;
}

.streamers a,
.streamers a:hover {
	color: #dfd;
}

.online {
	background: #000;
	padding: 10px;
}

.online:hover {
	color: #ffd;
}

.offline {
	background: #222;
	color: #666;
	font-size: .85em;
	padding: 3px 10px;
}

.small-pic,
.small-pic-off {
	margin-left: -15px;
}

.small-pic {
	height: 50px;
	width: 50px;
	-webkit-transition: .3s;
	transition: .3s;
}

.small-pic:hover {
	-webkit-transform: scale(1.8);
	transform: scale(1.8);
}

.small-pic-off {
	height: 35px;
	width: 35px;
}

.streamer-id {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	font-size: 1.7em;
	padding-top: 5px;
}

.streamer-info {
	font-family: 'Droid Sans', sans-serif;
	font-style: italic;
	padding-top: 5px;
}

@media screen and (max-width: 768px) {
	.main {
		max-width: 95vw;
	}
}
